# File compilati
*.class
bin/

# Log
*.log

# File temporanei
*.tmp
*.temp
*.swp

# Backup
*.bak
*.old
*.orig

# Cartelle temporanee Eclipse
.settings/
.metadata/
tmp/

# File di sistema
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

# Cache e preferenze IDE
.c9/
.vscode/
.idea/
*.iml
*.iws
*.suo
*.njsproj
*.sln

# Maven / Gradle / altri sistemi build
target/
build/
.gradle/
*.jar
*.war
*.ear

# Cartelle ignorabili su altri ambienti
node_modules/
out/